.ContactItem {
  width: 100%;

  margin-bottom: 0.7rem;

  .contact {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3rem 0;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    .right-items {
      margin-left: 2rem;
    }
    img {
      padding: 0.3rem;
      border: 1px solid #2e344e;
      border-radius: 5px;
      margin-left: 2rem;
      width: 12%;
    }
    .right-items {
      h6 {
        font-size: 1.7rem;
        font-weight: 500;
      }
    }
  }
}

.ContactPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  @media screen and (max-width: 2040px) {
    grid-template-columns: repeat(1, 1fr);
    .map-sect {
      width: 100%;
      height: 40vh;
      margin-bottom: 1rem;
      border-radius: 5px;
    }
  }
  .contact-sect {
    width: 100%;
  }
}
.map-sect {
  width: 97%;
  padding: 0.5rem;
  background-color: white;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.contact-sect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  margin-bottom: 3.5rem;
}
