.NavBar {
  height: 100vh;
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .profile {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      border-bottom: 5px dotted #2e344e;
      img {
        width: 70%;
        border-radius: 100%;
        border: 5px solid #d1d4e0;
        margin-bottom: 1rem;
      }
    }

    .nav-items {
      width: 100%;
      .nav-item {
        list-style: none;
        text-align: center;
        a {
          text-decoration: none;
          font-size: inherit;
          color: inherit;
          display: block;
          padding: 0.5rem 0;
          position: relative;

          &:hover::before {
            width: 100%;
            transform: scale(1);
          }
        }
      }
    }

    .footer {
      width: 100%;
      border-top: 5px dotted #2e344e;
      p {
        text-align: center;
        padding: 1rem 0;
      }
    }
  }
}

.active {
  background-color: #28303f;
}
