.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #568abe;
  }
}

.h-sub-text {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: #cfd1da;
      transition: all 0.3s ease-in-out;
    }
    .ln:hover {
      color: rgb(14, 118, 168);
    }
    .gh:hover {
      color: rgb(244, 203, 178);
    }
    .ml:hover {
      color: white;
    }
  }
}
